<header class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0 text-uppercase">Hearing Test</h1>
      <h2 class="text-white-50 mx-auto mt-2 mb-5">Take this 3-minute hearing test. <p> It's not going to be like any
        hearing test that you have taken before. <p> This test is designed to find the frequencies in your hearing that
        is distorted by the sounds around you, allowing you to focus on the important sounds. The sounds that improve your
        relationships and learning.</h2>
    </div>
  </div>
</header>
