<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @spree_contact.name %>
</p>

<%= link_to 'Edit', edit_spree_contact_path(@spree_contact) %> |
<%= link_to 'Back', spree_contacts_path %>
