<header class="">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 style="font-size: 6em;">Hearing Aid Solutions</h1>
      <p>
      <h2 class="text-black-100 mx-auto mt-2 mb-5 text-left">Hearing aids used to be sound amplification only.  Today we have microprocessors, digital signal processing, advancements in directional microphones and smart phones with applications to make it easy to program and customize your hearing aids. <p> We have focused on one product with the best mix of features and price to deliver you better relationships through improved hearing. <p> Our product, the OTH100 has the following features; <p> High performance digital sound processing <p> 2 Channel WDRC Multi Memory Amplifier <p> Multi-bands frequency shaping <p> Layered noise reduction <p> Low battery warning - Power on delay <p> Volume and settings are automatically saved with the use of your smart phone app. <p> Quick hearing check from the hearing aid itself or from your smart phone headset.</h2>
    </div>
  </div>
</header>
