<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @spree_solution.name %>
</p>

<%= link_to 'Edit', edit_spree_solution_path(@spree_solution) %> |
<%= link_to 'Back', spree_solutions_path %>
