<header class="masthead">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 class="mx-auto my-0 text-uppercase">How it works</h1>
      <h2 class="text-white-50 mx-auto mt-2 mb-5">We encourage you to take our hearing test.  If you have severe hearing loss, or a physical problem with your hearing, we encourage you to seek help from a doctor. <p> Download our app “SoundWear” from the App Store or Google Play and you can see how simple it is to control your new hearing aids. <p> Place your order for your OTH100 hearing aid from our online store. <p> We sell our OTH100 as a single hearing aid so make sure you order two of them so you’ll have one for each ear. <p> When your order arrives put in size 13 batteries, and run the hearing test from your smart phone app.  Then you can have the app customize your OTH100 hearing aids to meet your needs. <p> Wear your new hearing aids every day for at least a week to train your brain to all the new sounds you’ll be hearing.  If you are not completely satisfied with your new OTH100 hearing aids contact us for a return authorization and a full refund.</h2>
    </div>
  </div>
</header>
