<!-- Header -->
<header class="">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 style="font-size: 6em;">Open To Hear</h1>
        <p>
      <h2 class="text-black-100 mx-auto mt-2 mb-5 text-left">We know, you can hear.
        But it’s more than that.  In some situations, the sounds get all muffled together and real communication fails. <p>
        You know it a problem, but is it a problem that you want to spend $4,000 to $5,000 to fix? <p>
        Advances in technology have made a big difference in hearing aids.  Digital Signal Processing (DSP) and smart phones
        have made it so you have far more control over what you hear. <p> New rules have removed layers of bureaucracy in improving your hearing.
        Now, hearing better can be as easy as seeing better with a pair of reading glasses. <p> Get your hearing back.
        And use your smart phone to fine tune your hearing.  <p> Improve your hearing and improve your relationships.</h2>
    </div>
  </div>
</header>
