<!-- Header -->
<header class="">
  <div class="container d-flex h-100 align-items-center">
    <div class="mx-auto text-center">
      <h1 style="font-size: 6em;">Open to Hear</h1>
      <h2 class="text-white-100 mx-auto mt-2 mb-5">A bold vision for OTC hearing aid solutions.</h2>
    </div>
  </div>
</header>
